<h3 mat-dialog-title class="bb-color--lime-A400">Edit Association</h3>
<form [formGroup]="formteam" (ngSubmit)="onSubmitEditTeam(formteam.value)">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Team Name">
        <mat-hint align="end"> {{ formteam.get('name').value.length }}/ 255</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="association_id" placeholder="Association">
          <mat-option *ngFor="let association of associations" [value]="association.id">
              {{ association.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
        <mat-hint align="end"> {{ formteam.get('email').value.length }}/ 255</mat-hint>
      </mat-form-field>
      <a mat-button (click)="toggleShowMore()">
          {{ showMoreText }}<mat-icon *ngIf="!showMore"> arrow_drop_down</mat-icon><mat-icon *ngIf="showMore"> arrow_drop_up</mat-icon>
      </a>
      <div *ngIf="showMore" fxLayout="column" fxLayoutGap="8px">
        <mat-form-field>
          <input matInput formControlName="address" placeholder="Address">
          <mat-hint align="end"> {{ formteam.get('address').value.length }}/ 255</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="facebook" placeholder="Facebook">
          <mat-hint align="end"> {{ formteam.get('facebook').value.length }}/ 255</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="twitter" placeholder="Twitter">
          <mat-hint align="end"> {{ formteam.get('twitter').value.length }}/ 255</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="googleplus" placeholder="Googleplus">
          <mat-hint align="end"> {{ formteam.get('googleplus').value.length }}/ 255</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="arena" placeholder="Arena">
          <mat-hint align="end"> {{ formteam.get('arena').value.length }}/ 255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogEditRef.close()">Cancel</button>
    <button mat-button color="accent" [disabled]="!formteam.valid">Save</button>
  </mat-dialog-actions>
</form>
