<div class="content" fxLayout="column" fxFlex>
  <h2 class="bb-p-24 bb-color--lime-A400">Competitions</h2>
  <mat-table #table [dataSource]="dataSource">
  
    <!-- Avatar Column -->
    <ng-container cdkColumnDef="avatar">
      <mat-header-cell *cdkHeaderCellDef> Logo </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <img *ngIf="row.avatar" src="http://192.168.33.10/assets/uploads/{{ row.avatar }}" width="30px" alt="" class="mat-avatar">
        <img *ngIf="!row.avatar" src="/assets/images/avatar-default.png" width="30px" alt="" class="mat-avatar">
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef> Competition Name </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="menu">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- Edit Button -->
          <button mat-menu-item (click)="openEditCompetitionDialog(row)">
            <mat-icon class="icon">edit </mat-icon>
            <span>Edit Competition</span>
          </button>
          <!-- Edit Image | Avatar -->
          <button mat-menu-item (click)="openEditCompetitionLogoDialog(row)">
            <mat-icon class="icons">photo</mat-icon>
            <span>Edit Competition Photo</span>
          </button>
          <!-- Delete Button -->
          <button *ngIf="!row.has_seasons" mat-menu-item (click)="openDeleteCompetitionDialog(row)">
            <mat-icon class="icons">delete</mat-icon>
            <span>Remove Competition</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container> 

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <button mat-fab class="fab-bottom-right" (click)="openCreateCompetitionDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
