<div class="content" fxLayout="column" fxFlex>
  <mat-toolbar class="bb-p-24 bb-color--lime-A400">Plays</mat-toolbar>
  <div class="bb-search-filter-wrapper">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Search for Play">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="menu">
      <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- Edit Button -->
          <button mat-menu-item (click)="openEditPlayFormDialog(row)">
            <mat-icon class="icon">edit</mat-icon>
            <span>Edit Play</span>
          </button>
          <!-- Delete Button -->
          <button mat-menu-item (click)="openDeletePlayDialog(row)">
            <mat-icon class="icons">delete</mat-icon>
            <span>Remove Play</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>    

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
<button mat-fab class="fab-bottom-right" (click)="openCreatePlayFormDialog()">
  <mat-icon>add</mat-icon>
</button>
