<div class="content" fxLayout="column" fxFlex>
  <div class="content-header">
    <h2>Seasons</h2>
  </div>
  <md-card fxFlex>
    <md-list>
      <md-list-item *ngFor="let season of seasons">
        <img md-list-avatar src="{{season.avatar}}" alt="...">
        <h3 md-line> {{season.name}} </h3>
        <span fxFlex></span>
        <button md-icon-button (click)="openEditSeasonFormDialog(season.$key, season)">
          <md-icon class="icon">edit</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>

  <button md-fab class="fab-bottom-right" (click)="openCreateSeasonFormDialog()">
    <md-icon>add</md-icon>
  </button>

</div>
