<div class="content" fxLayout="column" fxFlex>
  <div class="content-header">
    <h2>Associations</h2>
  </div>
  <md-table #table [dataSource]="dataSource">
  
    <!-- Avatar Column -->
    <ng-container cdkColumnDef="logo">
      <md-header-cell *cdkHeaderCellDef> Logo </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <img *ngIf="row.logo" src="http://192.168.33.10/assets/uploads/{{ row.logo }}" width="30px" alt="" class="md-avatar">
        <img *ngIf="!row.logo" src="/assets/images/avatar-default.png" width="30px" alt="" class="md-avatar">
      </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Association Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="menu">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <!-- Edit Button -->
          <button md-menu-item (click)="openEditAssociationDialog(row)">
            <md-icon class="icon">edit </md-icon>
            <span>Edit Association</span>
          </button>
          <!-- Edit Image | Avatar -->
          <button md-menu-item (click)="openEditAssociationLogoDialog(row)">
            <md-icon class="icons">photo</md-icon>
            <span>Edit Association Logo</span>
          </button>
          <!-- Delete Button -->
          <button *ngIf="!row.has_seasons" md-menu-item (click)="openDeleteAssociationDialog(row)">
            <md-icon class="icons">delete</md-icon>
            <span>Remove Association</span>
          </button>
        </md-menu>
      </md-cell>
    </ng-container> 

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>

  <button md-fab class="fab-bottom-right" (click)="openCreateAssociationDialog()">
    <md-icon>add</md-icon>
  </button>
</div>
