<div class="content" fxLayout="column" fxFlex>
  <div class="content-header">
    <h2>Divisions/Associations</h2>
  </div>
  <md-card fxFlex>
    <md-list>
      <md-list-item *ngFor="let association of associations">
        <img md-list-avatar src="{{association.avatar}}" alt="...">
        <h3 md-line> {{association.name}} </h3>
        <span fxFlex></span>
        <button md-icon-button (click)="openEditAssociationFormDialog(association)">
          <md-icon class="icon">edit</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>
  <button md-fab class="fab-bottom-right" (click)="openCreateAssociationFormDialog()">
    <md-icon>add</md-icon>
  </button>
</div>
