<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>dehaze</mat-icon>
  </button>
  <span>BBPlanner - Basketball Banner V.0.1</span>
  <span fxFlex></span>
  <a mat-button *ngIf="!isLoggedIn" [matMenuTriggerFor]="menuguest">
    <mat-icon>account_circle</mat-icon>Guest
  </a>
  <mat-menu #menuguest="matMenu">
    <button mat-menu-item routerLink="login">
      <span>Login</span>
    </button>
  </mat-menu>
  <a mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menuloggedin">
    <mat-icon>account_circle</mat-icon>{{ userName }}
  </a>
  <mat-menu #menuloggedin="matMenu">
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>