<div class="bb-h-100">
    <div  fxFlex fxLayout="column" fxLayoutAlign="center center" class="bb-h-100">
        <md-card fxLayout="column" class="bb-login-container">
            <div class="dialog-header">
                <h3>Login</h3>
            </div>
            <md-card-content class="bb-p-24 bb-pt-0">
                <form [formGroup]="loginform" (ngSubmit)="loginWithEmail(loginform.value)">
                    <div fxLayout="column" fxLayoutGap="8px">
                        <md-input-container>
                            <input mdInput formControlName="email" placeholder="your email">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput formControlName="password" placeholder="your password">
                            <md-hint align="end"> {{ loginform.get('password').value.length }}/ 16</md-hint>
                        </md-input-container>
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <md-checkbox>Remember me</md-checkbox>
                        </div>
                        <button md-raised-button color="primary" [disabled]="!loginform.valid">Login</button>
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <a [routerLink]="['/reset-password']" md-button color="accent">Forgot your password?</a>
                            <a [routerLink]="['/register-user']" md-button color="accent">Sign up here</a>
                        </div>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>