<div class="bb-h-100">
    <div  fxFlex fxLayout="column" fxLayoutAlign="center center" class="bb-h-100">
        <mat-card fxLayout="column" class="bb-login-container">
            <div class="dialog-header">
                <h3>Login</h3>
            </div>
            <mat-card-content class="bb-p-24 bb-pt-0">
                <form [formGroup]="loginform" (ngSubmit)="loginWithEmail(loginform.value)">
                    <div fxLayout="column" fxLayoutGap="8px">
                        <mat-form-field>
                            <input matInput formControlName="email" placeholder="your email">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="password" placeholder="your password">
                            <mat-hint align="end"> {{ loginform.get('password').value.length }}/ 16</mat-hint>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <mat-checkbox>Remember me</mat-checkbox>
                        </div>
                        <button mat-raised-button color="primary" [disabled]="!loginform.valid">Login</button>
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <a [routerLink]="['/reset-password']" mat-button color="accent">Forgot your password?</a>
                            <a [routerLink]="['/register-user']" mat-button color="accent">Sign up here</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>