<div class="dialog-header">
  <h3 md-dialog-title>Create Player</h3>
</div>
<div class="bb-dialog-container">
  <form [formGroup]="formplayer" (ngSubmit)="onSubmitEditPlayer(formplayer.value)">
    <div fxLayout="column" fxLayoutGap="8px">
      <md-input-container>
        <input mdInput formControlName="name" placeholder="Team Name">
        <md-hint align="end"> {{ formplayer.get('name').value.length }}/ 255</md-hint>
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="email" placeholder="Email">
        <md-hint align="end"> {{ formplayer.get('email').value.length }}/ 255</md-hint>
      </md-input-container>
      <md-select formControlName="active" placeholder="Active">
        <md-option [value]="2">Não</md-option>
        <md-option [value]="1">Sim</md-option>
      </md-select>
      <md-input-container>
        <input mdInput formControlName="data_nascimento" [mdDatepicker]="picker" placeholder="Choose a date">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
      <a md-button (click)="toggleShowMore()">
          {{ showMoreText }}<md-icon *ngIf="!showMore"> arrow_drop_down</md-icon><md-icon *ngIf="showMore"> arrow_drop_up</md-icon>
      </a>
      <div *ngIf="showMore" fxLayout="column" fxLayoutGap="8px">
        <md-input-container>
          <input mdInput formControlName="mothers_name" placeholder="Mothers Name">
          <md-hint align="end"> {{ formplayer.get('mothers_name').value.length }}/ 255</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="mothers_name_email" placeholder="Mothers Name Email">
          <md-hint align="end"> {{ formplayer.get('mothers_name_email').value.length }}/ 255</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="mothers_name_number" placeholder="Mothers Name Phone Number">
          <md-hint align="end"> {{ formplayer.get('mothers_name_email').value.length }}/ 255</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="fathers_name" placeholder="Fathers Name">
          <md-hint align="end"> {{ formplayer.get('fathers_name').value.length }}/ 255</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="fathers_name_email" placeholder="Fathers Name Email">
          <md-hint align="end"> {{ formplayer.get('fathers_name_email').value.length }}/ 255</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="fathers_name_number" placeholder="Fathers Name Phone Number">
          <md-hint align="end"> {{ formplayer.get('fathers_name_number').value.length }}/ 255</md-hint>
        </md-input-container>
      </div>
    </div>
    <md-dialog-actions align="end">
      <button md-button type="button" (click)="dialogRef.close()">Cancel</button>
      <button md-button color="accent" [disabled]="!formplayer.valid">Save</button>
    </md-dialog-actions>
  </form>
</div>
