<h3 mat-dialog-title class="bb-color--lime-A400">Add Season</h3>
<form [formGroup]="formseason" (ngSubmit)="onSubmitEditTeam(formseason.value)">
  <mat-dialog-content>  
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Season Name" maxlength="255">
        <mat-hint align="end"> {{ formseason.get('name').value.length }}/ 255</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="team_id" placeholder="Team">
          <mat-option *ngFor="let team of teams" [value]="team.id">
              {{ team.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="gender_id" placeholder="Gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.id">
                {{ gender.name }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="level_id" placeholder="Age Level">
            <mat-option *ngFor="let level of levels" [value]="level.id">
                {{ level.name }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="observations" placeholder="Observations" rows="10"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogEditRef.close()">Cancel</button>
    <button mat-button color="accent" [disabled]="!formseason.valid">Save Season</button>
  </mat-dialog-actions>
</form>
