<div class="bb-h-100">
    <div  fxFlex fxLayout="column" fxLayoutAlign="center center" class="bb-h-100">
        <md-card fxLayout="column" class="bb-login-container">
            <div class="dialog-header">
                <h3>Reset Password</h3>
            </div>
            <md-card-content class="bb-p-24 bb-pt-0">
                <form [formGroup]="resetform" (ngSubmit)="onLogin(resetform.value)">
                    <div fxLayout="column" fxLayoutGap="8px">
                        <md-input-container>
                            <input mdInput formControlName="email" placeholder="email">
                        </md-input-container>
                        <button md-raised-button color="primary" [disabled]="!resetform.valid">Reset Password</button>
                    </div>
                </form>
                <div fxLayout="row" fxLayoutAlign="end" class="bb-mt-8">
                    <a [routerLink]="['/login']" md-button color="accent">Login here</a>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>