<div class="content" fxLayout="column" fxFlex>
  <div class="content-header">
    <h2>Players</h2>
  </div>
  <md-table #table [dataSource]="dataSource">
  
    <!-- Avatar Column -->
    <ng-container cdkColumnDef="avatar">
      <md-header-cell *cdkHeaderCellDef> Foto </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <img *ngIf="row.avatar" src="http://192.168.33.10/assets/uploads/{{ row.avatar }}" width="30px" alt="" class="md-avatar">
        <img *ngIf="!row.avatar" src="/assets/images/avatar-default.png" width="30px" alt="" class="md-avatar">
      </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
      <md-header-cell *cdkHeaderCellDef> EMail </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.email}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="userName">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container cdkColumnDef="dateOfBirth">
      <md-header-cell *cdkHeaderCellDef> Date of Birth </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.data_nascimento}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="menu">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <!-- Edit Button -->
          <button md-menu-item (click)="openEditPlayerFormDialog(row)">
            <md-icon class="icon">edit</md-icon>
            <span>Edit Player</span>
          </button>
          <!-- Edit Image | Avatar -->
          <button md-menu-item (click)="openEditPlayerFotoDialog(row)">
            <md-icon class="icons">photo</md-icon>
            <span>Edit Player Photo</span>
          </button>
          <!-- Delete Button -->
          <button md-menu-item (click)="openDeletePlayerDialog(row)">
            <md-icon class="icons">delete</md-icon>
            <span>Remove Player</span>
          </button>
        </md-menu>
      </md-cell>
    </ng-container>    

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>

</div>
<button md-fab class="fab-bottom-right" (click)="openCreatePlayerFormDialog()">
  <md-icon>add</md-icon>
</button>
