<div class="content" fxLayout="column" fxFlex>
  <h2 class="bb-p-24 bb-color--lime-A400">Players</h2>
  <div class="bb-search-filter-wrapper">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Search for Player">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">
  
    <!-- Avatar Column -->
    <ng-container cdkColumnDef="avatar">
      <mat-header-cell *cdkHeaderCellDef> Foto </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <img *ngIf="row.avatar" src="http://192.168.33.10/assets/uploads/{{ row.avatar }}" width="30px" alt="" class="mat-avatar">
        <img *ngIf="!row.avatar" src="/assets/images/avatar-default.png" width="30px" alt="" class="mat-avatar">
      </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
      <mat-header-cell *cdkHeaderCellDef> EMail </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="userName">
      <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container cdkColumnDef="dateOfBirth">
      <mat-header-cell *cdkHeaderCellDef> Date of Birth </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.data_nascimento}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="menu">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- Edit Button -->
          <button mat-menu-item (click)="openEditPlayerFormDialog(row)">
            <mat-icon class="icon">edit</mat-icon>
            <span>Edit Player</span>
          </button>
          <!-- Edit Image | Avatar -->
          <button mat-menu-item (click)="openEditPlayerFotoDialog(row)">
            <mat-icon class="icons">photo</mat-icon>
            <span>Edit Player Photo</span>
          </button>
          <!-- Delete Button -->
          <button mat-menu-item (click)="openDeletePlayerDialog(row)">
            <mat-icon class="icons">delete</mat-icon>
            <span>Remove Player</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>    

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
<button mat-fab class="fab-bottom-right" (click)="openCreatePlayerFormDialog()">
  <mat-icon>add</mat-icon>
</button>
