<div fxLayout="column" fxFlex>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>dehaze</md-icon>
    </button>
    <span>BBPlanner - Basketball Banner V.0.1</span>
    <span fxFlex></span>
    <a md-button *ngIf="!isLoggedIn" [mdMenuTriggerFor]="menuguest">
      <md-icon>account_circle</md-icon>Guest
    </a>
    <md-menu #menuguest="mdMenu">
      <button md-menu-item routerLink="login">
        <span>Login</span>
      </button>
    </md-menu>
    <a md-button *ngIf="isLoggedIn" [mdMenuTriggerFor]="menuloggedin">
      <md-icon>account_circle</md-icon>{{ userName }}
    </a>
    <md-menu #menuloggedin="mdMenu">
      <button md-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="over">
        <md-nav-list>
          <h3 md-subheader>Your Season</h3>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="season">
              <span>Season</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="practices">
              <span>Pratices</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="roster">
              <span>Roster</span>
            </a>
          </md-list-item>
          <md-divider></md-divider>
          <h3 md-subheader>Config</h3>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="seasons">
              <span>Seasons (Epoca)</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="associations">
              <span>Divisions/Associations</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="teams">
              <span>Clubs/Teams</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="competitions">
              <span>Competitions</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <a routerLink="levels">
              <span>Levels (Escalões)</span>
            </a>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>people</md-icon>
            <a routerLink="players">
              <span>Players</span>
            </a>
          </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
