<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>dehaze</mat-icon>
    </button>
    <span>BBPlanner - Basketball Banner V.0.1</span>
    <span fxFlex></span>
    <a mat-button *ngIf="!isLoggedIn" [matMenuTriggerFor]="menuguest">
      <mat-icon>account_circle</mat-icon>Guest
    </a>
    <mat-menu #menuguest="matMenu">
      <button mat-menu-item routerLink="login">
        <span>Login</span>
      </button>
    </mat-menu>
    <a mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menuloggedin">
      <mat-icon>account_circle</mat-icon>{{ userName }}
    </a>
    <mat-menu #menuloggedin="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <mat-nav-list>
          <h3 mat-subheader>Your Season</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a routerLink="home">
              <span>Season</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a routerLink="practices/season/{{ seasonID }}">
              <span>Pratices</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a routerLink="roster/season/{{ seasonID }}">
              <span>Roster</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a routerLink="drills">
              <span>Drills</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a routerLink="plays">
              <span>Plays</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Config</h3>
          <mat-list-item>
            <mat-icon md-list-icon>folder</mat-icon>
            <a routerLink="seasons">
              <span>Seasons (Epoca)</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon md-list-icon>folder</mat-icon>
            <a routerLink="associations">
              <span>Divisions/Associations</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon md-list-icon>folder</mat-icon>
            <a routerLink="teams">
              <span>Clubs/Teams</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon md-list-icon>folder</mat-icon>
            <a routerLink="competitions">
              <span>Competitions</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon md-list-icon>folder</mat-icon>
            <a routerLink="levels">
              <span>Age Group (Escalões)</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon md-list-icon>people</mat-icon>
            <a routerLink="players">
              <span>Players</span>
            </a>
          </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
