<mat-sidenav #sidenav mode="over" opened>
  <mat-tab-group>
    <mat-tab label="Your Season">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="season">
            <span>Season</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="practices">
            <span>Pratices</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="roster">
            <span>Roster</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-tab>
    <mat-tab label="Config">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="seasons">
            <span>Seasons (Epoca)</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="associations">
            <span>Divisions/Associations</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="teams">
            <span>Clubs/Teams</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="competitions">
            <span>Competitions</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <a routerLink="levels">
            <span>Levels (Escalões)</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>people</mat-icon>
          <a routerLink="players">
            <span>Players</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav>
