/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,700';

html, body {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.router-container{
  position: relative;
  width: 100%;
  height: 100%;
}

mat-sidenav-container, .content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
}

.bb-search-filter-wrapper{
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 16px;
  justify-content: space-between;
  border-top: 1px solid #424242;
}

/*.content-header h2{
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 50px;
  color: white;
}*/

/*.dialog-header h3{
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 30px;
  color: white;
  margin-bottom: 16px;
}*/

.fab-bottom-right {
  position: fixed !important;
  right: 32px;
  bottom: 16px;
}

.upload-button {
    display: block;
    float: left;
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 4px;
}

.drop-container {
    border: 3px dashed #ededed;
    width: 100%;
    padding: 25px 0;
    border-radius: 10px;
    margin: 20px 0 0;
}

.drop-container div span {
    display: block;
    float: left;
}

.drop-container .upload-button input {
    display: none;
}

/****************************************************/
/*                                                  */
/*                 PADDING HELPERS                  */
/*                                                  */
/****************************************************/

.bb-pt-0{
  padding-top: 0;
}

.bb-p-8{
  padding: 8px;
}

.bb-p-16{
  padding: 16px;
}

.bb-p-24{
  padding: 24px;
}

/**************************************************/
/*                                                */
/*                 MARGIN HELPERS                 */
/*                                                */
/**************************************************/

.bb-mb-0{
  margin-bottom: 0;
}

.bb-mb-1{
  margin-bottom: 8px;
}

.bb-mb-2{
  margin-bottom: 16px;
}

.bb-ml-0{
  margin-left: 0;
}

.bb-ml-1{
  margin-left: 8px;
}

.bb-ml-2{
  margin-left: 16px;
}

.bb-ml-3{
  margin-left: 24px;
}

.bb-ml-4{
  margin-left: 36px;
}

.bb-mr-0{
  margin-right: 0;
}

.bb-mr-1{
  margin-right: 8px;
}

.bb-mr-2{
  margin-right: 16px;
}

.bb-mr-3{
  margin-right: 24px;
}

.bb-mr-4{
  margin-right: 36px;
}

.bb-mt-0{
  margin-top: 0;
}

.bb-mt-8{
  margin-top: 8px;
}

.bb-mt-16{
  margin-top: 16px;
}

.bb-my-1{
  margin-top: 8px;
  margin-bottom: 8px;
}

.bb-my-2{
  margin-top: 16px;
  margin-bottom: 16px;
}

/********************************************************/
/*                                                      */
/*                 POSITIONING HELPERS                  */
/*                                                      */
/********************************************************/

.bb-pos-rel{
  position: relative;
}

.bb-pos-abs{
  position: absolute;
}

.bb-pos-abs-tr{
  position: absolute;
  top: 0;
  right: 0;
}

/*************************************************/
/*                                               */
/*                 ICON SIZERS                   */
/*                                               */
/*************************************************/

.md-18{
  font-size: 18px;
}

.md-24{
  font-size: 24px;
}

.md-36{
  font-size: 36px;
}

.md-48{
  font-size: 48px;
}

.md-60{
  font-size: 60px;
}

.md-72{
  font-size: 72px;
}

/************************************************/
/*                                              */
/*                      MEDIA                   */
/*                                              */
/************************************************/

@media (max-width: 599px) {
  
}

@media (min-width: 600px) and (max-width: 959px) {
  
}

@media (min-width: 960px) and (max-width: 1279px) {
  .content{
      margin-left: 320px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .content{
      margin-left: 320px;
      margin-right: 160px;
  }
}

@media (min-width: 1920px) and (max-width: 5000px) {
  .content{
      margin-left: 320px;
      margin-right: 320px;
  }
}

/************************************************/
/*                                              */
/*                    COLORS                    */
/*                                              */
/************************************************/

.bb-color--lime-A400{
  color: #c6ff00 !important;
}

.bb-color--red-500{
  color: #f44336 !important;
}

.bb-color--grey-900{
  color: #212121 !important;
}

/************************************************/
/*                                              */
/*                   BG COLORS                  */
/*                                              */
/************************************************/

.bb-bg-color--red-500{
  background-color: #f44336 !important;
}

.bb-bg-color--lime-A400{
  background-color: #c6ff00 !important;
}

.bb-bg-color--grey-900{
  background-color: #212121 !important;
}

/************************************************/
/*                                              */
/*              WIDTHS & HEIGHTS                */
/*                                              */
/************************************************/

.bb-w-100{
  width: 100%;
}

.bb-h-100{
  height: 100%;
}

/************************************************/
/*                                              */
/*                 TEXT ALIGNING                */
/*                                              */
/************************************************/

.bb-text-justify {
  text-align: justify !important;
}

.bb-text-nowrap {
  white-space: nowrap !important;
}

.bb-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bb-text-left {
  text-align: left !important;
}

.bb-text-right {
  text-align: right !important;
}

.bb-text-center {
  text-align: center !important;
}

/************************************************/
/*                                              */
/*                 TEXT DECOR                   */
/*                                              */
/************************************************/

.bb-text-lowercase {
  text-transform: lowercase !important;
}

.bb-text-uppercase {
  text-transform: uppercase !important;
}

.bb-text-capitalize {
  text-transform: capitalize !important;
}

.bb-font-weight-light {
  font-weight: 300 !important;
}

.bb-font-weight-normal {
  font-weight: 400 !important;
}

.bb-font-weight-bold {
  font-weight: 700 !important;
}

.bb-font-italic {
  font-style: italic !important;
}

.bb-font-size-14{
  font-size: 14px;
}

.bb-font-size-14{
  font-size: 14px;
}

.bb-font-size-14{
  font-size: 14px;
}

.bb-spacer{
  flex: 1 1 auto;
}

.bb-text-xs {
  font-size: .75rem;
}

.bb-text-sm {
  font-size: .875rem;
}

.bb-text-base {
  font-size: 1rem;
}

.bb-text-lg {
  font-size: 1.125rem;
}

.bb-text-xl {
  font-size: 1.25rem;
}

.bb-text-2xl {
  font-size: 1.5rem;
}

.bb-text-3xl {
  font-size: 1.875rem;
}

.bb-text-4xl {
  font-size: 2.25rem;
}

.bb-text-5xl {
  font-size: 3rem;
}