/* .mat-row .mat-cell:nth-child(1), 
.mat-header-row .mat-header-cell:nth-child(1) {
    flex: 1;
    flex-grow: 1;
    text-align: center;
}

.mat-row .mat-cell:nth-child(2), 
.mat-header-row .mat-header-cell:nth-child(2) {
    flex: 1;
    flex-grow: 5;
}

.mat-row .mat-cell:nth-child(3), 
.mat-header-row .mat-header-cell:nth-child(3) {
    flex: 1;
    flex-grow: 5;
} */