<div class="bb-h-100">
    <div  fxFlex fxLayout="column" fxLayoutAlign="center center" class="bb-h-100">
        <mat-card fxLayout="column" class="bb-login-container">
            <div class="dialog-header">
                <h3>Register User</h3>
            </div>
            <mat-card-content class="bb-p-24 bb-pt-0">
                <form [formGroup]="registerform" (ngSubmit)="onSubmitUser(registerform.value)">
                    <div fxLayout="column" fxLayoutGap="8px">
                        <mat-form-field>
                            <input matInput formControlName="email" placeholder="email">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="password" type="password" placeholder="password">
                            <mat-hint align="end"> {{ registerform.get('password').value.length }}/ 16</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="confirm" type="password" placeholder="confirm password">
                            <mat-hint align="end"> {{ registerform.get('password').value.length }}/ 16</mat-hint>
                        </mat-form-field>
                        <button md-raised-button color="primary" [disabled]="!registerform.valid">Register</button>
                    </div>
                </form>
                <div fxLayout="row" fxLayoutAlign="end" class="bb-mt-8">
                    <a [routerLink]="['/login']" md-button color="accent">Login here</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>